@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jamshids Measurements</h1>
    <p class="lead">Here you can see the resault of measurment</p>
    <p><a href="AllData" class="btn btn-primary btn-lg">All Data &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My all Healt Data</h2>
        <p>
            Here you can see the data related to my healt condition
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Healt &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My nviornment Data</h2>
        <p>here you can see my enviornment data</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Partikkels &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My friends measurements.</h2>
        <p>Here you can reach my friends measurements</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">My network &raquo;</a></p>
    </div>
</div>